/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  min-height: -webkit-fill-available;
}

/* Layout Styles */
.-container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--spacing-padding);
}

/* Typography */
a {
  color: var(--color-base-link);
  transition: all ease-in-out var(--transition-time);

  &:hover,
  &:focus {
    color: var(--color-base-link-hover);
    transition: all ease-in-out var(--transition-time);
  }
}

.-has-font-size-small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
